<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%-5level] - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="com.callor.gallery">
		<level value="INFO" additivity="false" />
	</logger>
	<logger name="com.callor.gallery.controller">
		<level value="DEBUG" additivity="false" />
	</logger>
	<logger name="com.callor.gallery.service">
		<level value="DEBUG" additivity="false" />
	</logger>
	<logger name="com.callor.gallery.persistance">
		<level value="DEBUG" additivity="false" />
	</logger>



	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>