<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.score.dao.ext.ScoreDao">

	<select id="scoreCount" resultType="Integer">
		SELECT COUNT(*) FROM tbl_score
		WHERE sc_stnum = #{sc_stnum}
	</select>
	<select id="scoreSum"  resultType="Integer">
		SELECT SUM(sc_score) FROM tbl_score
		WHERE sc_stnum = #{sc_stnum}
	</select>

	<select id="selectAll" resultType="ScoreVO">
		SELECT * FROM tbl_score
	</select>
	<select id="findById" resultType="ScoreVO">
		SELECT * FROM tbl_score WHERE sc_seq = #{sc_seq}
	</select>
	<select id="selectViewAll" resultType="ScoreDTO">
			SELECT sc_seq,
					sc_stnum,
					ST.st_name sc_stname,
					sc_sbcode,
					SB.sb_name sc_sbname,
					sc_score
			FROM tbl_score SC
				LEFT JOIN tbl_student ST
					ON SC.sc_stnum = ST.st_num
				LEFT JOIN tbl_subject SB
					ON SC.sc_sbcode = SB.sb_code
			ORDER BY sc_stnum, sc_sbcode
	</select>
	
	<select id="selectSubjectAndScore" 
			resultType="SubjectAndScoreDTO">
		SELECT 
			SB.sb_code as ss_code, 
			SB.sb_name as ss_stname, 
			SB.sb_prof as ss_prof,
			SC.sc_stnum as ss_stnum, 
			SC.sc_score as ss_score
				FROM tbl_subject SB
			LEFT JOIN tbl_score SC
				ON SC.sc_sbcode = SB.sb_code 
	        	AND SC.sc_stnum = #{st_num}
	        LIMIT 5
	</select>
	
	<insert id="insert" parameterType="ScoreVO">
		INSERT INTO
			tbl_score(
				sc_stnum,sc_sbcode,sc_score
		)VALUES(
			#{st_stnum},#{sc_sbcode},#{sc_score}
		)
	</insert>
	<!-- 
	데이터를 INSERT를 먼저 수행해라
	만약 데이터가 이미 있으면 UPDATE를 수행하라
	
	PK로 설정된 칼럼에 값을 세팅한후 INSERT를 수행
	sc_seq = 3 와 같은 방법으로 세팅을 하여 ISNERT 수행
	만약 table의 sc_seq 칼럼에 이미 3이라는 값이 있으면
	UNIQUE오류가 발생할 것이다.
	내부적으로 DBMS(mysql)에서 exception이 발생할 것이다
	
	mysql INSERT문에 다음 명령절이 있으면
	ON DUPLICATE  KEY UPDATE
	
	INSERT를 수행할때 Exception을 발생하는 대신
	PK를 기준으로 Update를 수행하는 절차가 실행된다.
	
	TIP
	PK를 기존의 칼럼지정으로 유지하면서
	DUPLICATE .. UPDATE를 사용하기 위하여
	INSERT에 필요한 칼럼중
	학번과 과목코드를 묶어서 UNIQUE로 설정했다
	
	그랬더니
	이미 값이 저장되어있는 학번과, 과목코드와
	동일한 값을 INSERT하려고 하면
	Exception이 발생하고
	자동으로 DUPLICATE...UPDATE가 실행되더라
	
	ON DUPLICATE KEY UPDATE를 사용하여
	insert OR update를 수행하기
	어떤데이터를 추가하는데
	이미 같은 PK를 갖는 데이터가 있으면
	UPDATE를 하고, 없으면 추가하라
	
	기본조건
	INSERT를 할때 반드시 PK값이 Value에 있어야 한다
	
	변형하여
	INSERT를 할때 포함되는 칼럼들을 UNIQUE로 설정하면
	같은 효과를 낼수 있다
	 -->
	<insert id="insertOrUpdate">
		INSERT INTO tbl_score(sc_stnum, sc_sbcode, sc_score)
		VALUES(#{st_num},#{sc_sbcode}, #{sc_score})
		ON DUPLICATE  KEY UPDATE
		sc_score = #{sc_score} 
	</insert>
	
	<!-- 
	List에 담긴 데이터를 받아서
	Builk insert수행하기
	 -->
	<insert id="insertOrUpdateForList">
		INSERT INTO tbl_score(sc_stnum,sc_sbcode, sc_score)
		VALUES
		<foreach collection="scoreMaps" 
					item="map" separator=", ">
			(#{st_num},#{map.subject},#{map.score})
		</foreach>
		AS NEW(st_num,subject,score)
		ON DUPLICATE KEY UPDATE
		sc_score = score
	</insert>
	
	<update id="update" parameterType="ScoreVO">
		UPDATE tbl_score SET
			sc_stnum = #{sc_stnum},
			sc_sbcode = #{sc_sbcode },
			sc_score= #{sc_score},
		WHERE sc_seq = #{sc_num}
	</update>
	<delete id="delete">
		DELETE FROM tbl_score WHERE sc_seq = #{sc_seq}
	</delete>
</mapper>