<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.score.dao.ext.StudentDao">

	<select id="selectAll" resultType="StudentVO">
		SELECT * FROM tbl_student 
		ORDER BY st_num DESC
		LIMIT 10
	</select>
	<select id="findById" resultType="StudentVO">
		SELECT * FROM tbl_student WHERE
		st_num = #{st_num}
	</select>

	<!-- 
	mapper의 각 기능의 id값은 Dao에 설정된 method 이름으로 설정 
	Dao의 method 가 id로 사용되는 까닭에
	Mybatis에서는 Dao의 method를 중복정의 할수 없다.
	-->
	<select id="getMaxStNum" resultType="String">
		SELECT MAX(st_num) AS st_num FROM tbl_student
	</select>
	
	<insert id="insert" parameterType="StudentVO">
		INSERT INTO
		tbl_student(
		st_num, st_name, st_dept, st_grade, st_tel, st_addr
		)VALUES(
		#{st_num}, #{st_name}, #{st_dept}, #{st_grade}, #{st_tel}, #{st_addr}
		)
	</insert>
	<update id="update" parameterType="StudentVO">
		UPDATE tbl_student SET
		st_num =#{st_num},
		st_name =#{st_name},
		st_dept =#{st_dept},
		st_grade =#{st_grade},
		st_tel =#{st_tel},
		st_addr =#{st_addr}
		WHERE st_num= #{st_num}
	</update>
	<delete id="delete">
		DELETE FROM tbl_student WHERE st_num = #{st_num}
	</delete>
</mapper>