@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

section.main_sec {
	flex: auto;
	overflow: auto;
}

header {
	background-color: green;
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	padding: 2rem;
}

/*
style지정을 할때

tag에 id나 class를 부착하지 않고 지정하는 경우
1. 현재 main_layout.css 파일은 모든 jsp에서 공통으로 include
	모든 jsp에 있는 table에 공통으로 속성이 적용된다
	
2. 만약 특정한 jsp 파일에서만 table tag에 속성을 부여하고 싶으면
	table tag에 id나 class 를 지정하고
	table#id, table.class 형식으로 style을 지정해야 한다

3. 전체 프로젝트의 view를 일관되게 구현하고자 할때
	대표적인 tag에 style을 지정하고
	include 하여 사용하는 방법
	
*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 90%;
	margin: 0 auto;
}

table th, td {
	border-top: 1px solid #aaa;
	padding: 5px 8px;
}

table td {
	margin-left: 30px;
	text-align: left;
	padding-left: 10px;
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* td에 마우스 hover되면 ellipsis를 해제하여 text를 그대로 보여주기 */
table td:hover {
	overflow: visible;
	text-overflow: inherit;
}

table tr:last-child td {
	border-bottom: 1px solid #aaa;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

table tr:nth-child(even) {
	background-color: #ddd;
}

table tr:hover {
	background-color: #aaa;
	cursor: pointer;
}

div.btn_box {
	width: 90%;
	margin: 5px auto;
	text-align: right;
}

button {
	padding: 10px 20px;
	outline: 0;
	border: 0;
	border-radius: 5px;
}

button:hover {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

button.btn_insert {
	background-color: blue;
	color: white;
}

button.btn_save {
	background-color: blue;
	color: white;
}

button.btn_reset {
	background-color: green;
	color: white;
}

button.btn_list {
	background-color: orange;
	color: white;
}

button.btn_delete {
	background-color: red;
	color: white;
}

div#modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 100;
	display: none;
}

div#modal span {
	position: absolute;
	display: inline-block;
	top: 30px;
	right: 30px;
	font-size: 30px;
	color: white;
	font-weight: 900;
	border-radius: 50%;
	padding: 10px 20px;
	transition: 0.6s
}

div#modal span:hover {
	background-color: white;
	cursor: pointer;
}

section.search_sec {
	/* 
	바깥쪽 box의 position이 fiexd로 되어 있기 때문에
	내부의 box를 바깥 box의 중앙에 배치하기 위하여
	position을 absolute로 설정하고
	위치를 지정하였다
	*/
	position: absolute;
	top: 50%;
	left: 50%;
	/* 자기 몸체크기의 x, y방향으로 50%만큼 후진 */
	transform: translate(-50%, -50%);
	background-color: white;
	opacity: 1;
	width: 80%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-content: center;
	overflow: auto;
	z-index: 1000;
}

section.search_sec table {
	margin: 10px auto;
	width: 95%;
	opacity: 1;
}